.auth {
    &-form {
        display: flex;
        flex-direction: column;
        padding: 24px;
    }

    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}